<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="/css/pure/pure-min.css">
    <link rel="stylesheet" href="/css/pure/grids-responsive-min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="/layouts/marketing/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
      integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
      <link rel="stylesheet" href="../static/css/styles.css">
      <link rel="stylesheet" href="../static/css/thanks.css">
  </head>

  <body>

    {% import 'header.html' as header %}
    {{ header.survey_header() }}

    <div id="thanks">
      <p>
        Thank you for participating in this survey. Your feedback is greatly appreciated and will be used to improve the
        travel booking experience.
      </p>
    </div>

  </body>

</html>